random-number-generator/enclave/.venv
random-number-generator/enclave/__pycache__
secured-chat-bot/enclave/.venv
secured-chat-bot/enclave/__pycache__
secured-chat-bot/enclave/ai_models/__pycache__
secured-chat-bot/frontend/node_modules
secured-chat-bot/frontend/.next
secured-chat-bot/frontend/out
.vscode/



